<!DOCTYPE html>
<html>
<head>
    <title>Тестирование</title>
</head>
<body>
    <h1>Тестирование</h1>

    <form>
        <h2>Вопрос 1: Уникальный выбор</h2>
        <p>Выберите один вариант ответа:</p>
        <input type="radio" name="question1" value="option1"> Вариант 1<br>
        <input type="radio" name="question1" value="option2"> Вариант 2<br>
        <input type="radio" name="question1" value="option3"> Вариант 3<br>

        <h2>Вопрос 2: Множественный выбор</h2>
        <p>Выберите один или несколько вариантов ответа:</p>
        <input type="checkbox" name="question2" value="option1"> Вариант 1<br>
        <input type="checkbox" name="question2" value="option2"> Вариант 2<br>
        <input type="checkbox" name="question2" value="option3"> Вариант 3<br>

        <h2>Вопрос 3: Ввод с клавиатуры</h2>
        <p>Введите ваш ответ:</p>
        <input type="text" name="question3" placeholder="Ответ"><br>

        <input type="submit" value="Отправить">
    </form>
</body>
</html>